In [37]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pickle

In [3]:
books = pd.read_csv(r"C:\Users\Hp\OneDrive\Desktop\MRS\Book_Recommendation\Datasets\Books.csv")
ratings = pd.read_csv(r"C:\Users\Hp\OneDrive\Desktop\MRS\Book_Recommendation\Datasets\Ratings.csv")
users = pd.read_csv(r"C:\Users\Hp\OneDrive\Desktop\MRS\Book_Recommendation\Datasets\Users.csv")

C:\Users\Hp\AppData\Local\Temp\ipykernel_14308\3335588990.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books = pd.read_csv(r"C:\Users\Hp\OneDrive\Desktop\MRS\Book_Recommendation\Datasets\Books.csv")

In [4]:
print(books.shape)
print(ratings.shape)
print(users.shape)

(271360, 8)
(1149780, 3)
(278858, 3)

In [5]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [6]:
users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [7]:
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [8]:
books.isna().sum()

ISBN                   0
Book-Title             0
Book-Author            2
Year-Of-Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            3
dtype: int64

In [9]:
users.isna().sum()

User-ID          0
Location         0
Age         110762
dtype: int64

In [10]:
ratings.isna().sum()

User-ID        0
ISBN           0
Book-Rating    0
dtype: int64

In [11]:
books.duplicated().sum()

0

In [12]:
ratings.duplicated().sum()

0

In [13]:
users.duplicated().sum()

0

In [14]:
books.dropna(inplace=True)
books.isnull().sum()

ISBN                   0
Book-Title             0
Book-Author            0
Year-Of-Publication    0
Publisher              0
Image-URL-S            0
Image-URL-M            0
Image-URL-L            0
dtype: int64

In [15]:
ratings.dropna(inplace=True)
ratings.isnull().sum()

User-ID        0
ISBN           0
Book-Rating    0
dtype: int64

In [17]:
rating = ratings.merge(books, on ='ISBN')

In [27]:
num_rating=rating.groupby('Book-Title').count()['Book-Rating'].reset_index()
num_rating_df=num_rating.rename(columns={'Book-Rating':'num_ratings'})
num_rating_df

                                               Book-Title  num_ratings
0        A Light in the Storm: The Civil War Diary of ...            4
1                                   Always Have Popsicles            1
2                    Apple Magic (The Collector's series)            1
3        Ask Lily (Young Women of Faith: Lily Series, ...            1
4        Beyond IBM: Leadership Marketing and Finance ...            1
...                                                   ...          ...
241060                                      Ã?Â?lpiraten.            2
241061                     Ã?Â?rger mit Produkt X. Roman.            4
241062                                Ã?Â?sterlich leben.            1
241063                              Ã?Â?stlich der Berge.            3
241064                                  Ã?Â?thique en toc            2

[241065 rows x 2 columns]

In [28]:
avg_rating = rating.groupby('Book-Title')['Book-Rating'].mean().reset_index()

# Rename the 'Book-Rating' column to 'avg_ratings'
avg_rating_df = avg_rating.rename(columns={'Book-Rating': 'avg_ratings'})

# Display the resulting DataFrame
avg_rating_df

                                               Book-Title  avg_ratings
0        A Light in the Storm: The Civil War Diary of ...     2.250000
1                                   Always Have Popsicles     0.000000
2                    Apple Magic (The Collector's series)     0.000000
3        Ask Lily (Young Women of Faith: Lily Series, ...     8.000000
4        Beyond IBM: Leadership Marketing and Finance ...     0.000000
...                                                   ...          ...
241060                                      Ã?Â?lpiraten.     0.000000
241061                     Ã?Â?rger mit Produkt X. Roman.     5.250000
241062                                Ã?Â?sterlich leben.     7.000000
241063                              Ã?Â?stlich der Berge.     2.666667
241064                                  Ã?Â?thique en toc     4.000000

[241065 rows x 2 columns]

In [31]:
popular_df=num_rating_df.merge(avg_rating_df, on='Book-Title')

In [35]:
popular_df = popular_df[popular_df['num_ratings']>=250].sort_values('avg_ratings', ascending=False).head(50)

In [42]:
popularity = popular_df.merge(books, on='Book-Title')

In [43]:
Popular_books = popularity[['Book-Title', 'num_ratings', 'avg_ratings', 'Book-Author', 'Image-URL-M']]

In [49]:
popular_books=Popular_books.drop_duplicates('Book-Title')

In [50]:
popular_books

,Book-Title,num_ratings,avg_ratings,Book-Author,Image-URL-M
0,Harry Potter and the Prisoner of Azkaban (Book 3),428,5.852804,J. K. Rowling,http://images.amazon.com/images/P/0439136350.0...
3,Harry Potter and the Goblet of Fire (Book 4),387,5.824289,J. K. Rowling,http://images.amazon.com/images/P/0439139597.0...
5,Harry Potter and the Sorcerer's Stone (Book 1),278,5.737410,J. K. Rowling,http://images.amazon.com/images/P/0590353403.0...
9,Harry Potter and the Order of the Phoenix (Boo...,347,5.501441,J. K. Rowling,http://images.amazon.com/images/P/043935806X.0...
13,Harry Potter and the Chamber of Secrets (Book 2),556,5.183453,J. K. Rowling,http://images.amazon.com/images/P/0439064872.0...
16,The Hobbit : The Enchanting Prelude to The Lor...,281,5.007117,J.R.R. TOLKIEN,http://images.amazon.com/images/P/0345339681.0...
17,The Fellowship of the Ring (The Lord of the Ri...,368,4.948370,J.R.R. TOLKIEN,http://images.amazon.com/images/P/0345339703.0...
26,Harry Potter and the Sorcerer's Stone (Harry P...,575,4.895652,J. K. Rowling,http://images.amazon.com/images/P/059035342X.0...
28,"The Two Towers (The Lord of the Rings, Part 2)",260,4.880769,J.R.R. TOLKIEN,http://images.amazon.com/images/P/0345339711.0...
39,To Kill a Mockingbird,510,4.700000,Harper Lee,http://images.amazon.com/images/P/0446310786.0...
47,The Da Vinci Code,898,4.642539,Dan Brown,http://images.amazon.com/images/P/0385504209.0...
53,The Five People You Meet in Heaven,430,4.551163,Mitch Albom,http://images.amazon.com/images/P/0786868716.0...
55,The Catcher in the Rye,449,4.545657,J.D. Salinger,http://images.amazon.com/images/P/0316769487.0...
62,The Lovely Bones: A Novel,1295,4.468726,Alice Sebold,http://images.amazon.com/images/P/0316666343.0...
63,1984,284,4.454225,George Orwell,http://images.amazon.com/images/P/0451524934.0...
72,Prodigal Summer: A Novel,253,4.450593,Barbara Kingsolver,http://images.amazon.com/images/P/0060959037.0...
73,Neverwhere,265,4.449057,Neil Gaiman,http://images.amazon.com/images/P/0380789019.0...
78,The Secret Life of Bees,774,4.447028,Sue Monk Kidd,http://images.amazon.com/images/P/0142001740.0...
84,Stupid White Men ...and Other Sorry Excuses fo...,283,4.356890,Michael Moore,http://images.amazon.com/images/P/0060392452.0...
85,"Tuesdays with Morrie: An Old Man, a Young Man,...",493,4.354970,MITCH ALBOM,http://images.amazon.com/images/P/0385484518.0...
88,The Red Tent (Bestselling Backlist),723,4.334716,Anita Diamant,http://images.amazon.com/images/P/0312195516.0...
89,The Hitchhiker's Guide to the Galaxy,268,4.328358,Douglas Adams,http://images.amazon.com/images/P/0671461494.0...
98,Nickel and Dimed: On (Not) Getting By in America,335,4.289552,Barbara Ehrenreich,http://images.amazon.com/images/P/0805063897.0...
100,Into the Wild,252,4.273810,Jon Krakauer,http://images.amazon.com/images/P/0385486804.0...
103,Fahrenheit 451,409,4.264059,Ray Bradbury,http://images.amazon.com/images/P/3257208626.0...
116,Girl with a Pearl Earring,526,4.218631,Tracy Chevalier,http://images.amazon.com/images/P/0452282152.0...
117,Outlander,283,4.173145,DIANA GABALDON,http://images.amazon.com/images/P/0440222915.0...
123,Where the Heart Is (Oprah's Book Club (Paperba...,585,4.105983,Billie Letts,http://images.amazon.com/images/P/0446672211.0...
124,Seabiscuit: An American Legend,275,4.098182,LAURA HILLENBRAND,http://images.amazon.com/images/P/0449005615.0...
126,Life of Pi,664,4.088855,Yann Martel,http://images.amazon.com/images/P/0151008116.0...
130,The Bean Trees,389,4.087404,Barbara Kingsolver,http://images.amazon.com/images/P/0060915544.0...
133,"A Child Called \It\"": One Child's Courage to S...",265,4.086792,Dave Pelzer,http://images.amazon.com/images/P/1558743669.0...
135,ANGELA'S ASHES,279,4.075269,Frank McCourt,http://images.amazon.com/images/P/0684874350.0...
137,Good in Bed,490,4.055102,Jennifer Weiner,http://images.amazon.com/images/P/0743418174.0...
139,Fast Food Nation: The Dark Side of the All-Ame...,321,4.037383,Eric Schlosser,http://images.amazon.com/images/P/0060938455.0...
140,American Gods,302,4.006623,Neil Gaiman,http://images.amazon.com/images/P/0380789035.0...
141,Skipping Christmas,322,4.006211,JOHN GRISHAM,http://images.amazon.com/images/P/0385505833.0...
147,Left Behind: A Novel of the Earth's Last Days ...,318,4.003145,Tim Lahaye,http://images.amazon.com/images/P/0842329129.0...
149,"The Golden Compass (His Dark Materials, Book 1)",336,4.000000,PHILIP PULLMAN,http://images.amazon.com/images/P/037582345X.0...
157,The Color Purple,314,3.964968,Alice Walker,http://images.amazon.com/images/P/0671617028.0...
163,Silence of the Lambs,256,3.960938,Thomas Harris,http://images.amazon.com/images/P/0312924585.0...
166,About a Boy,262,3.900763,Nick Hornby,http://images.amazon.com/images/P/1573227331.0...
173,Seven Up (A Stephanie Plum Novel),278,3.888489,Janet Evanovich,http://images.amazon.com/images/P/0312265840.0...
175,The Alchemist: A Fable About Following Your Dream,266,3.875940,Paulo Coelho,http://images.amazon.com/images/P/0062502174.0...
177,Hard Eight : A Stephanie Plum Novel (A Stephan...,269,3.825279,Janet Evanovich,http://images.amazon.com/images/P/0312983867.0...
182,Suzanne's Diary for Nicholas,457,3.820569,James Patterson,http://images.amazon.com/images/P/0316969443.0...
186,Lord of the Flies,259,3.818533,William Gerald Golding,http://images.amazon.com/images/P/0399501487.0...
192,A Prayer for Owen Meany,413,3.796610,John Irving,http://images.amazon.com/images/P/0345361792.0...
194,"The Vampire Lestat (Vampire Chronicles, Book II)",301,3.777409,ANNE RICE,http://images.amazon.com/images/P/0345313860.0...
195,White Oleander : A Novel (Oprah's Book Club),356,3.772472,Janet Fitch,http://images.amazon.com/images/P/0316284955.0...

In [51]:
pickle.dump(popular_books, open('popular_df.pkl', 'wb'))